@import url(style.css);

.formulaBody {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%; height: 100%;
    justify-content: flex-start; align-items: center;
    overflow-y: scroll;
}

h1 {
    font-size: 3rem;
    margin: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; align-items: center;
    margin-top: 20px;
    min-height: 150px;
    overflow: hidden;
}

.descbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; align-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 5vh;
}

.formulaBody > p {

}

#photo1 {
    width: 50vw;
    margin-bottom: 20px;
    background-position: center; 
    background-size: cover;
    min-height: 50vh;
}

#photo2 {
    width: 30vw;
    margin-bottom: 20px;
    background-position: center; 
    background-size: cover;
    min-height: 40vh;
}