.u-section-1 .u-sheet-1 {
  min-height: 968px;
}

.u-section-1 .u-text-1 {
  width: 130px;
  margin: 41px auto 0;
}

.u-section-1 .u-image-1 {
  width: 249px;
  height: 28px;
  margin: -38px 177px 0 auto;
}

.u-section-1 .u-list-1 {
  margin-top: 45px;
  margin-bottom: 60px;
  min-height: 787px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-template-rows: auto;
  grid-gap: 10px 10px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/slice2.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 275px 42px 0 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/SDRSharp_20180315_201037Z_137100000Hz_AF_EDIT.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 275px 42px 0 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Captureq.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin: 275px 42px 0 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/DSC_0271.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 275px 42px 0 0;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/20190204_155152.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin: 275px 42px 0 0;
}

.u-section-1 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/DSC_0270.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 275px 42px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 42px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -35px;
    margin-right: 94px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 66px;
    margin-bottom: 0;
    min-height: 649px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1436px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: 195px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 20px;
    min-height: 710px;
    grid-template-columns: calc(50% - 5.25px) calc(50% - 5.25px);
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2425px;
  }

  .u-section-1 .u-text-1 {
    width: 98px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
    margin-left: 239px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2421px;
  }

  .u-section-1 .u-text-1 {
    width: 92px;
  }

  .u-section-1 .u-image-1 {
    margin-right: -14px;
    margin-left: 105px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 0;
  }
}