.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 119px;
}

.u-section-1 .u-text-1 {
  width: 142px;
  margin: 38px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-1 .u-text-1 {
    width: 95px;
    margin-top: 46px;
    margin-bottom: 46px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1050px;
}

.u-section-2 .u-image-1 {
  width: 249px;
  height: 28px;
  margin: 45px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 46px;
  margin-bottom: 60px;
  min-height: 787px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-template-rows: auto;
  grid-gap: 10px 10px;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/slice2.PNG");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 275px 42px 0 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/SDRSharp_20180315_201037Z_137100000Hz_AF_EDIT.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 275px 42px 0 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Captureq.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 275px 42px 0 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/DSC_0271.JPG");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 275px 42px 0 0;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/20190204_155152.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 275px 42px 0 0;
}

.u-section-2 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/DSC_0270.JPG");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin: 275px 42px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 21px;
    min-height: 649px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1436px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
    margin-right: 195px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    min-height: 710px;
    grid-template-columns: calc(50% - 5.25px) calc(50% - 5.25px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2425px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
    margin-left: 239px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2421px;
  }

  .u-section-2 .u-image-1 {
    margin-right: -14px;
    margin-left: 105px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 109px;
}.u-section-4 .u-sheet-1 {
  min-height: 1832px;
}

.u-section-4 .u-image-1 {
  width: 547px;
  height: 204px;
  margin: 56px 278px 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 43px 381px 0 0;
}

.u-section-4 .u-image-2 {
  width: 317px;
  height: 406px;
  margin: -161px 29px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 274px;
  height: 289px;
  object-position: 50% 1.75%;
  margin: -267px 472px 0 auto;
}

.u-section-4 .u-image-4 {
  width: 274px;
  height: 289px;
  margin: -289px auto 0 91px;
}

.u-section-4 .u-image-5 {
  width: 252px;
  height: 99px;
  margin: 19px 60px 0 auto;
}

.u-section-4 .u-text-2 {
  margin: -59px 381px 0 43px;
}

.u-section-4 .u-image-6 {
  width: 392px;
  height: 77px;
  margin: 42px auto 0 79px;
}

.u-section-4 .u-image-7 {
  width: 147px;
  height: 122px;
  margin: 0 auto 0 221px;
}

.u-section-4 .u-image-8 {
  width: 472px;
  height: 414px;
  margin: -231px auto 0 590px;
}

.u-section-4 .u-image-9 {
  width: 384px;
  height: 97px;
  margin: -167px auto 60px 156px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2200px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 30px;
    margin-left: 46px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-right: 361px;
    margin-left: 21px;
  }

  .u-section-4 .u-image-2 {
    width: 281px;
    height: 402px;
    margin-top: -502px;
  }

  .u-section-4 .u-image-3 {
    width: 268px;
    height: 265px;
    margin-top: 70px;
    margin-right: auto;
    margin-left: 276px;
  }

  .u-section-4 .u-image-4 {
    width: 268px;
    height: 268px;
    margin-top: 34px;
    margin-left: 34px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -628px;
    margin-right: 34px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 195px;
    margin-right: 26px;
    margin-left: 584px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -121px;
    margin-left: 112px;
  }

  .u-section-4 .u-image-7 {
    margin-top: 26px;
    margin-left: 249px;
  }

  .u-section-4 .u-image-8 {
    margin-top: 10px;
    margin-left: 446px;
  }

  .u-section-4 .u-image-9 {
    margin-top: -256px;
    margin-left: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3115px;
  }

  .u-section-4 .u-image-1 {
    height: 205px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: 173px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 26px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-4 .u-image-2 {
    height: 403px;
    margin-top: -14px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-4 .u-image-3 {
    width: 246px;
    height: 246px;
    margin-top: -389px;
    margin-right: 50px;
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    width: 246px;
    height: 246px;
    object-position: 100% 8.54%;
    margin-top: 106px;
    margin-right: 50px;
    margin-left: auto;
  }

  .u-section-4 .u-image-5 {
    margin-top: -122px;
    margin-right: auto;
    margin-left: 87px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 50px;
    margin-right: 63px;
    margin-left: 87px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 41px;
    margin-right: 152px;
    margin-left: auto;
  }

  .u-section-4 .u-image-7 {
    margin-top: 27px;
    margin-right: 265px;
    margin-left: auto;
  }

  .u-section-4 .u-image-8 {
    width: 392px;
    height: 355px;
    margin-top: 23px;
    margin-left: 301px;
  }

  .u-section-4 .u-image-9 {
    width: 286px;
    height: 64px;
    margin-top: -301px;
    margin-left: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3200px;
  }

  .u-section-4 .u-image-1 {
    height: 202px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -46px;
    margin-left: 15px;
  }

  .u-section-4 .u-image-3 {
    width: 196px;
    height: 196px;
    margin-top: -412px;
    margin-right: 19px;
  }

  .u-section-4 .u-image-4 {
    width: 196px;
    height: 196px;
    margin-top: 56px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -7px;
    margin-left: 37px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 37px;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 182px;
    margin-right: 148px;
    margin-left: 74px;
  }

  .u-section-4 .u-image-7 {
    margin-left: 197px;
  }

  .u-section-4 .u-image-8 {
    width: 301px;
    height: 272px;
    margin-top: 65px;
    margin-left: 113px;
  }

  .u-section-4 .u-image-9 {
    margin-top: -219px;
    margin-left: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3414px;
  }

  .u-section-4 .u-image-1 {
    height: 127px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -25px;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    margin-top: 784px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-4 .u-image-5 {
    margin-top: -1166px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4 .u-image-6 {
    height: 67px;
    margin-top: 476px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-7 {
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-8 {
    margin-top: 117px;
    margin-left: auto;
  }

  .u-section-4 .u-image-9 {
    width: 326px;
    height: 43px;
    object-position: 50% 0%;
    margin-top: -345px;
    margin-right: 0;
    margin-left: auto;
  }
}